h1 {
	margin:-9px;
	font-size:1.3em;
}

h2, p {
	margin:15px;
}

hr, #header-nav {
	margin:0;
}

.navbar-brand {
	font-size:1.8em;
	font-weight:bold;
}

#collapsable-nav {
	background-color:lightcyan;
}

.mainSection {
	background-color:#ccc;
}

.sectionHeader {
	font-size:1.8em;
}
